@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bar-primary text-white;
}

.neon-glow {
  text-shadow: 0 0 10px rgba(0, 240, 255, 0.5), 0 0 20px rgba(0, 240, 255, 0.3);
}